html,body { width:100%; height:100%; position: relative; overflow: hidden;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video,p{margin:0;padding:0;border:0;vertical-align:baseline;}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block;}
body{line-height:1.2;font-size:26px;font-family:"微软雅黑","黑体",Verdana,Arial,Helvetica,sans-serif;margin:0 auto; color: #000; background-color: #fff;}
ol,ul{list-style:none;}
a, u{text-decoration:none;}
a{color: #000;}
a:hover{color: #000;}
img{border:0px;vertical-align:middle;}
em{ font-style: normal;}
input,button,select,textarea{outline:none}

/*取消点击高亮*/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*修改input的placeholder颜色*/
input::-webkit-input-placeholder { /* WebKit browsers */
    color:#fef5a6;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#fef5a6;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#fef5a6;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#fef5a6;
}

/*css3动画定义*/
.ts0_1 { -webkit-transition:0.1s all ease; -moz-transition:0.1s all ease; -ms-transition:0.1s all ease; -o-transition:0.1s all ease; transition:0.1s all ease; }
.ts0_5{ -webkit-transition:0.5s all ease; -moz-transition:0.5s all ease; -ms-transition:0.5s all ease; -o-transition:0.5s all ease; transition:0.5s all ease; }
.ts1 { -webkit-transition:1s all ease; -moz-transition:1s all ease; -ms-transition:1s all ease; -o-transition:1s all Linear; transition:1s all ease; }
.ts2 { -webkit-transition:2s all ease; -moz-transition:2s all ease; -ms-transition:2s all ease; -o-transition:2s all Linear; transition:2s all ease; }
.ts3 { -webkit-transition:3s all ease; -moz-transition:3s all ease; -ms-transition:3s all ease; -o-transition:3s all ease; transition:3s all ease; }
.ts4 { -webkit-transition:4s all ease; -moz-transition:4s all ease; -ms-transition:4s all ease; -o-transition:4s all ease; transition:4s all ease; }
.ts10 { -webkit-transition:10s all linear; -moz-transition:10s all linear; -ms-transition:10s all linear; -o-transition:10s all linear; transition:10s all linear; }


/*共同部分*/
#wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: url("../img/common/page_bg.jpg") center no-repeat;
    background-size: cover;*/
    display: none;
}
.page.active {
    display: block;
}
.page img {
    position: absolute;
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    color: #fff;
    background: #fbfeff;
    display: none;
}
.loading.active {
    display: block;
}
.loading article {
    width: 618px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -309px;
}
.loading article span {
    display: block;
    width: 100%;
    height: 48px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fbfeff;
}
.loading article span em {
    display: block;
    width: 597px;
    height: 33px;
    position: absolute;
    top: 8px;
    left: 12px;
    overflow: hidden;
}
.loading article span em bdo {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/common/loading/pic_04.png") right top no-repeat;
}
.loading article span i {
    width: 5px;
    height: 33px;
    position: absolute;
    top: 8px;
    left: 7px;
    background: url("../img/common/loading/pic_04.png") left top no-repeat;
    overflow: hidden;
    display: none;
}
.loading article span i.active {
    display: block;
}
.loading article span p {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 53px;
    text-align: center;
    color: #b9842f;
    font-size: 24px;
}
.loading article span img.barbg {
    top: 0;
    left: 0;
    z-index: 2;
}

.flowerArea {
    width: 120px;
    height: 80px;
    position: absolute;
}
.flowerArea img {
    position: absolute;
}
.flowerArea img:nth-of-type(1) {
    bottom: 0;
    left: 20px;
}
.flowerArea img:nth-of-type(2) {
    top: 2px;
    left: 0;
}
.flowerArea img:nth-of-type(3) {
    top: 0;
    right: 0;
}

.logo {
    top: 0;
    left: 0;
    z-index: 2;
}

/*首页*/
#home img.flower {
    top: 157px;
    left: 38px;
}
#home img.tit1 {
    top: 572px;
    left: 150px;
}
#home img.tit2 {
    top: 652px;
    left: 45px;
}
#home a.start {
    display: block;
    width: 248px;
    height: 69px;
    position: absolute;
    top: 740px;
    left: 254px;
    background: url("../img/home/pic_03.png?__spriter") 0 0 no-repeat;
}

/*选择图片*/
#select .fileReaderArea {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#select .fileReaderArea img {
    position: static;
}
#select .camera, #select .inp_fileToUpload, #select .weixinUpload {
    top: 308px;
    left: 77px;
}
#select .inp_fileToUpload, #select .weixinUpload {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
}
#select .inp_fileToUpload.active, #select .weixinUpload.active {
    display: block;
}
#select .camera {
    position: absolute;
    width: 80.13%;
}
#select .camera img.camerabg {
    position: static;
}
#select .handleResult {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: url("../img/select/pic_03.jpg") center no-repeat;
    background-size: cover;
    background-color: #fff;
    display: none;
}
#select .handleResult.active {
    display: block;
}
#select ol.btns li:nth-of-type(2) {
    right: 0;
}
#select ol.btns li:nth-last-of-type(1) input {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: static;
}

ol.btns {
    display: none;
    width: 100%;
    height: 83px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../img/select/pic_02.png") center no-repeat;
}
ol.btns.active {
    display: block;
}
ol.btns li {
    display: block;
    width: 375px;
    height: 100%;
    position: absolute;
    top: 0;
}
ol.btns li:nth-of-type(1) {
    left: 0;
}
ol.btns li:nth-last-of-type(1) {
    right: 0;
}


/*预览*/
.portraitbox {
    width: 683px;
    height: 813px;
    position: absolute;
    top: 239px;
    left: 42px;
}
.portraitbox img.face {
    top: 43px;
    left: 52px;
}
.portraitbox img.brows {
    top: 270px;/*248px*/
    left: 105px;
}
.portraitbox img.eyes {
    top: 280px;
    left: 65px;
}
.portraitbox img.nose {
    top: 336px;
    left: 280px;
}
.portraitbox img.mouth {
    top: 585px;/*590px*/
    left: 248px;
}
.portraitbox img.bang {
    top: 15px;
    left: 5px;
}

#preview .real, #preview .cartoon {
    width: 650px;
    height: 429px;
    position: absolute;
    bottom: 549px;
    left: 52px;
    z-index: 3;
    background: url("../img/preview/pic_01.png") center no-repeat;
}
#preview .picArea, #preview .cartoon .load, #preview .cartoon .content {
    width: 621px;
    height: 400px;
    position: absolute;
    top: 12px;
    left: 13px;
    overflow: hidden;
}
#preview .picArea {
    background: url("../img/select/pic_03.jpg") center no-repeat;
    background-size: cover;
    background-color: #fff;
}
#preview .cartoon {
    bottom: 108px;
}
#preview .cartoon .load, #preview .cartoon .content {
    display: none;
}
#preview .cartoon .load.active, #preview .cartoon .content.active {
    display: block;
}
#preview .cartoon .load {
    background: #fff;
}
#preview .cartoon .load .loadingText {
    top: 238px;
    left: 215px;
}
#preview .cartoon .content {
    background-color: #000;
}
#preview .cartoon .content .portraitbox {
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
    top: -235px;
    left: -10px;
}

#preview ol.btns {
    background-image: url("../img/preview/pic_03.png");
}


/*编辑*/
#edit {
    background-color: #1f1f1f;
}
#edit .portraitbox {
    top: -160px;
}
#edit .panel {
    width: 100%;
    height: 610px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../img/edit/pic_06.png") center bottom no-repeat;
}
#edit .panel ol {
    display: block;
    height: 110px;
    background: url("../img/edit/pic_02.png") center no-repeat;
}
#edit .panel ol.tab1 {
    background-image: url("../img/edit/pic_02.png");
}
#edit .panel ol.tab2 {
    background-image: url("../img/edit/pic_02_2.png");
}
#edit .panel ol.tab3 {
    background-image: url("../img/edit/pic_02_3.png");
}
#edit .panel ol.tab4 {
    background-image: url("../img/edit/pic_02_4.png");
}
#edit .panel ol.tab5 {
    background-image: url("../img/edit/pic_02_5.png");
}
#edit .panel ol li {
    display: block;
    width: 139px;
    height: 100%;
    float: left;
    margin-right: 1px;
}
#edit .panel ol li:nth-of-type(2) {
    width: 148px;
}
#edit .panel ol li:nth-of-type(3), #edit .panel ol li:nth-of-type(4) {
    width: 152px;
}
#edit .panel ol li:nth-last-of-type(1) {
    width: 155px;
    margin-right: 0;
}
#edit .panel ul {
    height: 430px;
    background: url("../img/edit/pic_04.png") center no-repeat;
    position: relative;
    display: none;
}
#edit .panel ul.active {
    display: block;
}
#edit .panel ul li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#edit .panel ul li.active {
    display: block;
    -webkit-animation: showLi 0.5s;
    animation: showLi 0.5s;
}
@-webkit-keyframes showLi {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes hideLi {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#edit .panel ul li i {
    display: block;
    width: 225px;
    height: 215px;
    position: absolute;
}
#edit .panel ul li.active i.select {
    background: url("../img/edit/pic_05.png") center no-repeat;
}
#edit .panel ul li i:nth-of-type(1), #edit .panel ul li i:nth-of-type(2), #edit .panel ul li i:nth-of-type(3) {
    top: 5px;
}
#edit .panel ul li i:nth-of-type(4), #edit .panel ul li i:nth-of-type(5), #edit .panel ul li i:nth-of-type(6) {
    top: 227px;
}
#edit .panel ul li i:nth-of-type(1), #edit .panel ul li i:nth-of-type(4) {
    left: 43px;
}
#edit .panel ul li i:nth-of-type(2), #edit .panel ul li i:nth-of-type(5) {
    left: 270px;
}
#edit .panel ul li i:nth-of-type(3), #edit .panel ul li i:nth-of-type(6) {
    left: 498px;
}
#edit .panel ul.face li i img {
    -webkit-transform: scale(0.24);
    transform: scale(0.24);
    top: -250px;
    left: -155px;
}
#edit .panel ul.eyes li i img {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    top: 10px;
    left: -155px;
}
#edit .panel ul.nose li i img {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    left: 70px;
}
#edit .panel ul.mouth li i img {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    top: 50px;
    left: 25px;
}
#edit .panel ul.brows li i img {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    top: 50px;
    left: -115px;
}
#edit .panel .prev, #edit .panel .next {
    display: block;
    width: 75px;
    height: 125px;
    position: absolute;
    top: 160px;
}
#edit .panel .prev {
    left: 0;
}
#edit .panel .next {
    right: 0;
}
#edit .panel .prev i, #edit .panel .next i {
    display: block;
    width: 36px;
    height: 65px;
    position: absolute;
    top: 30px;
}
#edit .panel .prev i {
    left: 25px;
    background: url("../img/common/icon/icon_02.png?__spriter") 0 0 no-repeat;
}
#edit .panel .next i {
    right: 25px;
    background: url("../img/common/icon/icon_03.png?__spriter") 0 0 no-repeat;
}
#edit .panel .complete {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../img/edit/pic_01.png") center no-repeat;
}


/*选择发型*/
#hairstyle .screenshot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#hairstyle .type {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#hairstyle .type img {
    top: 0;
    left: 0;
    opacity: 0;
}
#hairstyle .type img.show {
    opacity: 1;
}

#hairstyle .portraitbox {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -70px;
    left: 30px;
}
/*#hairstyle .portraitbox img.brows {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}*/
#hairstyle .portraitbox img.eyes {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
#hairstyle .portraitbox img.mouth {
    top: 568px;
}
#hairstyle .portraitbox.face1.type1 img.mouth, #hairstyle .portraitbox.face2.type2 img.mouth, #hairstyle .portraitbox.face1.type3 img.mouth, #hairstyle .portraitbox.face1.type4 img.mouth, #hairstyle .portraitbox.face1.type5 img.mouth, #hairstyle .portraitbox.face1.type6 img.mouth, #hairstyle .portraitbox.face1.type7 img.mouth, #hairstyle .portraitbox.face1.type8 img.mouth, #hairstyle .portraitbox.face1.type9 img.mouth {
    top: 590px;
}

/*300多个脸型样式如下*/
/****脸型1****/
#hairstyle .portraitbox.face1.type1 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
}
#hairstyle .portraitbox.face1.type2 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -80px;
}
#hairstyle .portraitbox.face1.type3 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -80px;
}
#hairstyle .portraitbox.face1.type4 {
    top: -80px;
    left: 27px;
}
#hairstyle .portraitbox.face1.type5 {
    -webkit-transform: scale(0.39);
    transform: scale(0.39);
    left: 25px;
}
#hairstyle .portraitbox.face1.type6 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -85px;
    left: 26px;
}
#hairstyle .portraitbox.face1.type7 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -85px;
    left: 30px;
}
#hairstyle .portraitbox.face1.type8, #hairstyle .portraitbox.face1.type9 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -72px;
    left: 26px;
}
#hairstyle .portraitbox.face1.type12 {
    -webkit-transform: scale(0.36);
    transform: scale(0.36);
    top: -75px;
    left: 26px;
}
#hairstyle .portraitbox.face1.type16 {
    -webkit-transform: scale(0.36);
    transform: scale(0.36);
    top: -75px;
    left: 26px;
}
#hairstyle .portraitbox.face1.type23 {
    -webkit-transform: scale(0.365);
    transform: scale(0.365);
    top: -75px;
    left: 37px;
}

/****脸型2****/
#hairstyle .portraitbox.face2.type1 {
    -webkit-transform: scale(0.36);
    transform: scale(0.36);
    top: -72px;
    left: 26px;
}
#hairstyle .portraitbox.face2.type2 {
    -webkit-transform: scale(0.355);
    transform: scale(0.355);
    top: -75px;
    left: 26px;
}
#hairstyle .portraitbox.face2.type4 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -78px;
    left: 27px;
}
#hairstyle .portraitbox.face2.type8 {
    -webkit-transform: scale(0.355);
    transform: scale(0.355);
    top: -67px;
    left: 25px;
}
#hairstyle .portraitbox.face2.type12 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -75px;
    left: 25px;
}
#hairstyle .portraitbox.face2.type13 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -75px;
    left: 25px;
}
#hairstyle .portraitbox.face2.type14 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -75px;
    left: 25px;
}
#hairstyle .portraitbox.face2.type15 {
    left: 23px;
}
#hairstyle .portraitbox.face2.type16 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -75px;
    left: 25px;
}
#hairstyle .portraitbox.face2.type18 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -75px;
    left: 25px;
}
#hairstyle .portraitbox.face2.type20 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -75px;
    left: 25px;
}
#hairstyle .portraitbox.face2.type22 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -72px;
    left: 25px;
}
#hairstyle .portraitbox.face2.type23 {
    left: 38px;
}

/****脸型3****/
#hairstyle .portraitbox.face3.type2 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -78px;
    left: 28px;
}
#hairstyle .portraitbox.face3.type5 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
}
#hairstyle .portraitbox.face3.type6 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -78px;
    left: 28px;
}
#hairstyle .portraitbox.face3.type7 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -78px;
    left: 28px;
}
#hairstyle .portraitbox.face3.type11 {
    top: -80px;
}
#hairstyle .portraitbox.face3.type12 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -78px;
    left: 28px;
}
#hairstyle .portraitbox.face3.type13 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -78px;
    left: 28px;
}
#hairstyle .portraitbox.face3.type14 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -78px;
    left: 28px;
}
#hairstyle .portraitbox.face3.type15 {
    -webkit-transform: scale(0.36);
    transform: scale(0.36);
    top: -75px;
    left: 25px;
}
#hairstyle .portraitbox.face3.type16 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -78px;
    left: 28px;
}
#hairstyle .portraitbox.face3.type18 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -73px;
    left: 22px;
}
#hairstyle .portraitbox.face3.type20 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -78px;
    left: 28px;
}
#hairstyle .portraitbox.face3.type22 {
    -webkit-transform: scale(0.335);
    transform: scale(0.335);
}
#hairstyle .portraitbox.face3.type23 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -65px;
    left: 40px;
}

/****脸型4****/
#hairstyle .portraitbox.face4.type10 {
    -webkit-transform: scale(0.36);
    transform: scale(0.36);
    top: -65px;
    left: 25px;
}
#hairstyle .portraitbox.face4.type15 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -63px;
    left: 23px;
}
#hairstyle .portraitbox.face4.type18 {
    -webkit-transform: scale(0.33);
    transform: scale(0.33);
    top: -70px;
    left: 25px;
}
#hairstyle .portraitbox.face4.type24 {
    -webkit-transform: scale(0.33);
    transform: scale(0.33);
    top: -68px;
    left: 28px;
}

/*--------------------------------------------------------------------*/

/****脸型5****/
#hairstyle .portraitbox.face5.type7 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -70px;
    left: 28px;
}
#hairstyle .portraitbox.face5.type15 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 20px;
}
#hairstyle .portraitbox.face5.type18 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face5.type22 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -70px;
    left: 24px;
}

/****脸型6****/
#hairstyle .portraitbox.face6.type2 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face6.type4 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -72px;
    left: 25px;
}
#hairstyle .portraitbox.face6.type5 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face6.type8 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 22px;
}
#hairstyle .portraitbox.face6.type13 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -72px;
    left: 24px;
}
#hairstyle .portraitbox.face6.type14 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -80px;
    left: 24px;
}
#hairstyle .portraitbox.face6.type16 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face6.type18 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face6.type22 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -75px;
    left: 26px;
}

/****脸型7****/
#hairstyle .portraitbox.face7.type4 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -70px;
    left: 28px;
}
#hairstyle .portraitbox.face7.type5 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -70px;
    left: 29px;
}
#hairstyle .portraitbox.face7.type7 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 28px;
}
#hairstyle .portraitbox.face7.type12 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 28px;
}
#hairstyle .portraitbox.face7.type13 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 28px;
}
#hairstyle .portraitbox.face7.type16 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 29px;
}
#hairstyle .portraitbox.face7.type18 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 28px;
}
#hairstyle .portraitbox.face7.type22 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 28px;
}
#hairstyle .portraitbox.face7.type24 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 29px;
}

/****脸型8****/
#hairstyle .portraitbox.face8.type4 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 26px;
}
#hairstyle .portraitbox.face8.type5 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 26px;
}
#hairstyle .portraitbox.face8.type7 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 26px;
}
#hairstyle .portraitbox.face8.type12 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 26px;
}
#hairstyle .portraitbox.face8.type16 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 26px;
}
#hairstyle .portraitbox.face8.type18 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 28px;
}
#hairstyle .portraitbox.face8.type22 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 26px;
}
#hairstyle .portraitbox.face8.type24 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 28px;
}

/****脸型9****/
#hairstyle .portraitbox.face9.type2 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face9.type4 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face9.type5 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face9.type6 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 25px;
}
#hairstyle .portraitbox.face9.type7 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face9.type12 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face9.type13 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face9.type15 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 21px;
}
/*#hairstyle .portraitbox.face9.type16 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 24px;
}*/
#hairstyle .portraitbox.face9.type18 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 22px;
}
#hairstyle .portraitbox.face9.type22 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 25px;
}
#hairstyle .portraitbox.face9.type23 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 35px;
}
#hairstyle .portraitbox.face9.type24 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 26px;
}

/****脸型10****/
#hairstyle .portraitbox.face10.type2 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face10.type4 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face10.type5 {
    -webkit-transform: scale(0.39);
    transform: scale(0.39);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face10.type7 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face10.type12 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face10.type15 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 21px;
}
#hairstyle .portraitbox.face10.type16 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face10.type17 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 22px;
}
#hairstyle .portraitbox.face10.type18 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 18px;
}
/*#hairstyle .portraitbox.face10.type22 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 25px;
}*/
#hairstyle .portraitbox.face10.type23 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 26px;
}
#hairstyle .portraitbox.face10.type24 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 26px;
}

/****脸型11****/
#hairstyle .portraitbox.face11.type3 {
    -webkit-transform: scale(0.39);
    transform: scale(0.39);
    top: -70px;
    left: 24px;
}
#hairstyle .portraitbox.face11.type4 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 26px;
}
#hairstyle .portraitbox.face11.type5 {
    -webkit-transform: scale(0.39);
    transform: scale(0.39);
    top: -70px;
    left: 26px;
}
#hairstyle .portraitbox.face11.type6 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 26px;
}
#hairstyle .portraitbox.face11.type12 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -70px;
    left: 26px;
}
#hairstyle .portraitbox.face11.type15 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -70px;
    left: 21px;
}
#hairstyle .portraitbox.face11.type16 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -70px;
    left: 20px;
}
#hairstyle .portraitbox.face11.type18 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 33px;
}
#hairstyle .portraitbox.face11.type23 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -70px;
    left: 22px;
}
#hairstyle .portraitbox.face11.type24 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -75px;
    left: 28px;
}

/****脸型12****/
#hairstyle .portraitbox.face12.type4 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -75px;
    left: 24px;
}
#hairstyle .portraitbox.face12.type13 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -77px;
    left: 24px;
}
#hairstyle .portraitbox.face12.type15 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -75px;
    left: 24px;
}
#hairstyle .portraitbox.face12.type18 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -81px;
    left: 26px;
}
#hairstyle .portraitbox.face12.type21 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -86px;
    left: 23px;
}
#hairstyle .portraitbox.face12.type22 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -78px;
    left: 22px;
}
#hairstyle .portraitbox.face12.type24 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -78px;
    left: 29px;
}

/****脸型13****/
#hairstyle .portraitbox.face13.type5 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -77px;
    left: 26px;
}
#hairstyle .portraitbox.face13.type8 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -77px;
    left: 26px;
}
#hairstyle .portraitbox.face13.type9 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -81px;
    left: 26px;
}
#hairstyle .portraitbox.face13.type15 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -79px;
    left: 26px;
}
#hairstyle .portraitbox.face13.type16 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -79px;
    left: 26px;
}
#hairstyle .portraitbox.face13.type17 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -79px;
    left: 27px;
}
#hairstyle .portraitbox.face13.type18 {
    -webkit-transform: scale(0.38);
    transform: scale(0.38);
    top: -82px;
    left: 27px;
}

/****脸型14****/
#hairstyle .portraitbox.face14.type6 {
    -webkit-transform: scale(0.39);
    transform: scale(0.39);
    top: -83px;
    left: 26px;
}
#hairstyle .portraitbox.face14.type8 {
    -webkit-transform: scale(0.39);
    transform: scale(0.39);
    top: -78px;
    left: 25px;
}
#hairstyle .portraitbox.face14.type9 {
    -webkit-transform: scale(0.39);
    transform: scale(0.39);
    top: -83px;
    left: 26px;
}
#hairstyle .portraitbox.face14.type18 {
    -webkit-transform: scale(0.39);
    transform: scale(0.39);
    top: -85px;
    left: 21px;
}
#hairstyle .portraitbox.face14.type21 {
    -webkit-transform: scale(0.39);
    transform: scale(0.39);
    top: -83px;
    left: 26px;
}

/****脸型15****/
#hairstyle .portraitbox.face15.type5 {
    -webkit-transform: scale(0.39);
    transform: scale(0.39);
    top: -82px;
    left: 30px;
}
#hairstyle .portraitbox.face15.type6 {
    -webkit-transform: scale(0.39);
    transform: scale(0.39);
    top: -85px;
    left: 27px;
}
#hairstyle .portraitbox.face15.type8 {
    -webkit-transform: scale(0.39);
    transform: scale(0.39);
    top: -77px;
    left: 30px;
}
#hairstyle .portraitbox.face15.type18 {
    -webkit-transform: scale(0.39);
    transform: scale(0.39);
    top: -77px;
    left: 36px;
}
#hairstyle .portraitbox.face15.type23 {
    -webkit-transform: scale(0.39);
    transform: scale(0.39);
    top: -77px;
    left: 38px;
}

/****脸型16****/
#hairstyle .portraitbox.face16.type4 {
    -webkit-transform: scale(0.36);
    transform: scale(0.36);
    top: -70px;
    left: 25px;
}
#hairstyle .portraitbox.face16.type5 {
    -webkit-transform: scale(0.36);
    transform: scale(0.36);
    top: -70px;
    left: 25px;
}
#hairstyle .portraitbox.face16.type6 {
    -webkit-transform: scale(0.36);
    transform: scale(0.36);
    top: -70px;
    left: 25px;
}
#hairstyle .portraitbox.face16.type8 {
    -webkit-transform: scale(0.36);
    transform: scale(0.36);
    top: -65px;
    left: 25px;
}
#hairstyle .portraitbox.face16.type9 {
    -webkit-transform: scale(0.36);
    transform: scale(0.36);
    top: -75px;
    left: 25px;
}
#hairstyle .portraitbox.face16.type11 {
    -webkit-transform: scale(0.32);
    transform: scale(0.32);
    top: -75px;
    left: 45px;
}
#hairstyle .portraitbox.face16.type16 {
    -webkit-transform: scale(0.36);
    transform: scale(0.36);
    top: -70px;
    left: 28px;
}
#hairstyle .portraitbox.face16.type18 {
    -webkit-transform: scale(0.36);
    transform: scale(0.36);
    top: -68px;
    left: 30px;
}
#hairstyle .portraitbox.face16.type22 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    top: -68px;
    left: 30px;
}




/*--------------------------------------------------------------------*/


/*针对脸型稍微调整，后期调整300多种样式之后可以去掉*/
#hairstyle .portraitbox.type11 {
    -webkit-transform: scale(0.32);
    transform: scale(0.32);
    top: -73px;
    left: 50px;
}
#hairstyle .portraitbox.type17 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
}





#hairstyle .portraitbox.face4.type23, #hairstyle .portraitbox.face5.type23, #hairstyle .portraitbox.face6.type23, #hairstyle .portraitbox.face7.type23, #hairstyle .portraitbox.face8.type23, #hairstyle .portraitbox.face11.type23, #hairstyle .portraitbox.face12.type23, #hairstyle .portraitbox.face13.type23, #hairstyle .portraitbox.face14.type23, #hairstyle .portraitbox.face16.type23 {
    left: 38px;
}

#hairstyle .portraitbox.face7.type15 {
    left: 23px;
}
#hairstyle .portraitbox.face9.type11 {
    -webkit-transform: scale(0.33);
    transform: scale(0.33);
    top: -75px;
}
#hairstyle .portraitbox.face9.type14 {
    -webkit-transform: scale(0.365);
    transform: scale(0.365);
    top: -78px;
    left: 25px;
}
#hairstyle .portraitbox.face9.type16 {
    -webkit-transform: scale(0.335);
    transform: scale(0.335);
    left: 24px;
}
#hairstyle .portraitbox.face10.type14 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -78px;
    left: 30px;
}
#hairstyle .portraitbox.face10.type17 {
    left: 25px;
}
#hairstyle .portraitbox.face10.type22 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -78px;
    left: 25px;
}
#hairstyle .portraitbox.face11.type14, #hairstyle .portraitbox.face11.type16 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
    top: -78px;
    left: 30px;
}
#hairstyle .portraitbox.face11.type22 {
    top: -78px;
}
#hairstyle .portraitbox.face11.type23 {
    -webkit-transform: scale(0.37);
    transform: scale(0.37);
}
#hairstyle .portraitbox.face12.type11 {
    top: -80px;
}
#hairstyle .portraitbox.face12.type14 {
    -webkit-transform: scale(0.36);
    transform: scale(0.36);
    top: -75px;
}
#hairstyle .portraitbox.face12.type17 {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    top: -78px;
}
#hairstyle .portraitbox.face13.type17 {
    -webkit-transform: scale(0.32);
    transform: scale(0.32);
    top: -72px;
}
#hairstyle .portraitbox.face14.type11 {
    -webkit-transform: scale(0.32);
    transform: scale(0.32);
    top: -79px;
    left: 52px;
}
#hairstyle .portraitbox.face14.type15 {
    left: 25px;
}



/*#hairstyle .portraitbox.type4, #hairstyle .portraitbox.type7, #hairstyle .portraitbox.type11, #hairstyle .portraitbox.type22 {
    -webkit-transform: scale(0.33);
    transform: scale(0.33);
    left: 52px;
}*/



/*#hairstyle .portraitbox.type3 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    *//*left: 27px;*//*
}
#hairstyle .portraitbox.type4, #hairstyle .portraitbox.type7 {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    *//*left: 55px;*//*
}
#hairstyle .portraitbox.type4 {
    *//*left: 50px;*//*
}
#hairstyle .portraitbox.type11 {
    -webkit-transform: scale(0.32);
    transform: scale(0.32);
    *//*top: -80px;
    left: 48px;*//*
}
#hairstyle .portraitbox.type12 {
    -webkit-transform: scale(0.32);
    transform: scale(0.32);
    *//*top: -60px;
    left: 28px;*//*
}
#hairstyle .portraitbox.type13 {
    -webkit-transform: scale(0.32);
    transform: scale(0.32);
    *//*top: -62px;
    left: 28px;*//*
}
#hairstyle .portraitbox.type14 {
    left: 25px;
}
#hairstyle .portraitbox.type16 {
    -webkit-transform: scale(0.33);
    transform: scale(0.33);
    *//*top: -63px;
    left: 27px;*//*
}
#hairstyle .portraitbox.type17 {
    *//*left: 27px;*//*
}
#hairstyle .portraitbox.type20 {
    *//*left: 25px;*//*
}
#hairstyle .portraitbox.type22 {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    *//*left: 50px;
    top: -88px;*//*
}
#hairstyle .portraitbox.type23 {
    *//*left: 32px;*//*
}
#hairstyle .portraitbox.type24 {
    *//*left: 25px;*//*
}*/

/*#hairstyle .text {
    width: 100%;
    height: 546px;
    position: absolute;
    bottom: 0;
    left: 0;
}*/
#hairstyle .text img {
    bottom: 0;
    left: 0;
    opacity: 0;
}
#hairstyle .text img.show {
    opacity: 1;
}
#hairstyle .thisTypeWrap {
    width: 100%;
    height: 315px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../img/hairstyle/pic_07.png") center bottom no-repeat;
    display: none;
}
#hairstyle .thisTypeWrap.active {
    display: block;
}
#hairstyle .thisTypeWrap a {
    width: 100%;
    height: 83px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: url("../img/hairstyle/pic_01.png?__spriter") 0 0 no-repeat;
}
#hairstyle ol.btns {
    z-index: 5;
    background-image: url("../img/hairstyle/pic_02.png");
}
#hairstyle ol.btns li {
    width: 250px;
}
#hairstyle ol.btns li:nth-of-type(2) {
    left: 250px;
}

#hairstyle .layer_share {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0,0.8);
    display: none;
}
#hairstyle .layer_share.active {
    display: block;
}
#hairstyle .layer_share img {
    top: 15px;
    right: 40px;
}
#hairstyle .shareIcon {
    width: 750px;
    height: 750px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#hairstyle .shareIcon.active {
    display: block;
}
#hairstyle .canvasArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#hairstyle .canvasArea.active {
    display: block;
}
#hairstyle .layer_name {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    background: rgba(0,0,0,0.5);
    display: none;
}
#hairstyle .layer_name.active {
    display: block;
}
#hairstyle .layer_name .form {
    width: 606px;
    height: 453px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -309px 0 0 -303px;
    background: url("../img/hairstyle/pic_03.png") center no-repeat;
}
#hairstyle .layer_name .form i, #hairstyle .layer_name .form input, #hairstyle .layer_name .form span {
    display: block;
    position: absolute;
}
#hairstyle .layer_name .form i {
    width: 110px;
    height: 110px;
    top: 0;
    right: 0;
}
#hairstyle .layer_name .form input {
    width: 429px;
    height: 86px;
    padding: 0 10px;
    top: 195px;
    left: 79px;
    font-size: 36px;
    text-align: center;
    border: none;
    background: url("../img/hairstyle/pic_04.png") center no-repeat;
}
#hairstyle .layer_name .form span {
    display: block;
    width: 100%;
    height: 108px;
    bottom: 0;
    left: 0;
}
#hairstyle .sign_name {
    position: absolute;
    bottom: 250px;
    right: 20px;
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
    font-size: 48px;
    display: none;
}
#hairstyle .sign_name.active {
    display: block;
}
#hairstyle .meitu_share_icon {
    width: 130px;
    height: 157px;
    position: absolute;
    bottom: 230px;
    right: 0;
    z-index: 6;
    background: url("../img/meitu/pic_07.png") center no-repeat;
    display: none;
}
#hairstyle .meitu_share_icon.active {
    display: block;
}


/*分享成功落地页*/
#sharecb {
    background: url("../img/sharecb/bg.jpg") center no-repeat;
    background-size: cover;
}
#sharecb .layer {
    width: 587px;
    height: 842px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: -350px 0 0 -293px;
    background: url("../img/sharecb/pic_02.jpg") center no-repeat;
}
#sharecb .layer a {
    display: block;
    width: 367px;
    height: 59px;
    position: absolute;
    bottom: 25px;
    left: 114px;
    background: url("../img/sharecb/pic_01.png") center no-repeat;
}


/*********高度<=1150的样式*************/
/*首页*/
/*#wrap.lt1150 #home img.flower {
    top: 332px;
}
#wrap.lt1150 #home img.beauty {
    top: 0;
}
#wrap.lt1150 #home img.name {
    top: 595px;
}
#wrap.lt1150 #home img.tit {
    top: 710px;
}*/

/*编辑*/
#wrap.lt1150 #edit .portraitbox {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    top: -180px;
}

/*重载*/
#reload {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    background: rgba(0,0,0,0.75);
    display: none;
}
#reload.active {
    display: block;
}

/*美图分享层*/
#meitu_share_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    background: rgba(0,0,0,0.9);
    display: none;
}
#meitu_share_layer.active {
    display: block;
}
#meitu_share_layer img {
    position: absolute;
}
#meitu_share_layer img.tit {
    top: 210px;
    left: 118px;
}
#meitu_share_layer a {
    display: block;
    position: absolute;
    top: 595px;
}
#meitu_share_layer a.close {
    width: 160px;
    height: 160px;
    top: 50px;
    right: 50px;
    background: url("../img/meitu/pic_06.png") center no-repeat;
}
#shareWeixinCircle {
    width: 209px;
    height: 289px;
    left: 115px;
    background: url("../img/meitu/pic_04.png?__spriter") 0 0 no-repeat;
}
#shareWeixin {
    width: 225px;
    height: 287px;
    right: 115px;
    background: url("../img/meitu/pic_05.png?__spriter") 0 0 no-repeat;
}


/* ********** dialog start ********** */
#dialog{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom:0;
    left: 0;
    z-index: 501;
    display: none;
}
#diaBlack{
    display: block;
    width:100%;
    height:100%;

    position: absolute;
    background: #212121;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}
#diaBg{
    display: block;
    width:420px;
    height:250px;
    border-radius: 30px;

    position:absolute;
    bottom: 500px;
    left: 170px;

    background: #fff;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}
#diaLine{
    background: #CCC;
    width:420px;
    height: 2px;

    position:absolute;
    bottom: 580px;
    left: 170px;
}
#diaBtn{
    background: #AAA;
    width:420px;
    height: 90px;

    position:absolute;
    bottom: 500px;
    left: 170px;

    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity: 0;
}

#dialog span{
    text-align: center;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    width:420px;
    left:173px;
    font-size: 24px;
    /*font-weight: bold;
    font-style: italic;*/
}
#diaTitle{
    position:absolute;
    bottom: 640px;
    color: #111;
}
#diaText{
    position:absolute;
    bottom: 650px;
    color: #111;
}
#diaTxt{
    position:absolute;
    bottom: 530px;
    color:#3879D9;
}
/* ********** dialog end ********** */



/************************************************************************************
smaller than 480 PHONE
*************************************************************************************/
@media screen and (max-width: 480px){

    /*loading*/
    .loading p {
        font-size: 18px;
    }
    .loading article {
        height: 50px;
    }

}



