html,body { width:100%; height:100%; position: relative; overflow: hidden;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video,p{margin:0;padding:0;border:0;vertical-align:baseline;}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block;}
body{line-height:1.2;font-size:26px;font-family:"微软雅黑","黑体",Verdana,Arial,Helvetica,sans-serif;margin:0 auto; color: #000; background-color: #fff;}
ol,ul{list-style:none;}
a, u{text-decoration:none;}
a{color: #000;}
a:hover{color: #000;}
img{border:0px;vertical-align:middle;}
em{ font-style: normal;}
input,button,select,textarea{outline:none}

/*取消点击高亮*/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*修改input的placeholder颜色*/
input::-webkit-input-placeholder { /* WebKit browsers */
    color:#fef5a6;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#fef5a6;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#fef5a6;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#fef5a6;
}

/*css3动画定义*/
.ts0_1 { -webkit-transition:0.1s all ease; -moz-transition:0.1s all ease; -ms-transition:0.1s all ease; -o-transition:0.1s all ease; transition:0.1s all ease; }
.ts0_5{ -webkit-transition:0.5s all ease; -moz-transition:0.5s all ease; -ms-transition:0.5s all ease; -o-transition:0.5s all ease; transition:0.5s all ease; }
.ts1 { -webkit-transition:1s all ease; -moz-transition:1s all ease; -ms-transition:1s all ease; -o-transition:1s all Linear; transition:1s all ease; }
.ts2 { -webkit-transition:2s all ease; -moz-transition:2s all ease; -ms-transition:2s all ease; -o-transition:2s all Linear; transition:2s all ease; }
.ts3 { -webkit-transition:3s all ease; -moz-transition:3s all ease; -ms-transition:3s all ease; -o-transition:3s all ease; transition:3s all ease; }
.ts4 { -webkit-transition:4s all ease; -moz-transition:4s all ease; -ms-transition:4s all ease; -o-transition:4s all ease; transition:4s all ease; }
.ts10 { -webkit-transition:10s all linear; -moz-transition:10s all linear; -ms-transition:10s all linear; -o-transition:10s all linear; transition:10s all linear; }


/*共同部分*/
#wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: url("../img/common/page_bg.jpg") center no-repeat;
    background-size: cover;*/
    display: none;
}
.page.active {
    display: block;
}
.page img {
    position: absolute;
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    color: #fff;
    background: #fbfeff;
    display: none;
}
.loading.active {
    display: block;
}
.loading article {
    width: 618px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -309px;
}
.loading article span {
    display: block;
    width: 100%;
    height: 48px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fbfeff;
}
.loading article span em {
    display: block;
    width: 597px;
    height: 33px;
    position: absolute;
    top: 8px;
    left: 12px;
    overflow: hidden;
}
.loading article span em bdo {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/common/loading/pic_04.png") right top no-repeat;
}
.loading article span i {
    width: 5px;
    height: 33px;
    position: absolute;
    top: 8px;
    left: 7px;
    background: url("../img/common/loading/pic_04.png") left top no-repeat;
    overflow: hidden;
    display: none;
}
.loading article span i.active {
    display: block;
}
.loading article span p {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 53px;
    text-align: center;
    color: #b9842f;
    font-size: 24px;
}
.loading article span img.barbg {
    top: 0;
    left: 0;
    z-index: 2;
}

.flowerArea {
    width: 120px;
    height: 80px;
    position: absolute;
}
.flowerArea img {
    position: absolute;
}
.flowerArea img:nth-of-type(1) {
    bottom: 0;
    left: 20px;
}
.flowerArea img:nth-of-type(2) {
    top: 2px;
    left: 0;
}
.flowerArea img:nth-of-type(3) {
    top: 0;
    right: 0;
}

.logo {
    top: 0;
    left: 0;
    z-index: 2;
}

/*首页*/
#home img.flower {
    top: 157px;
    left: 38px;
}
#home img.tit {
    top: 572px;
    left: 44px;
}
#home a.start {
    display: block;
    width: 248px;
    height: 69px;
    position: absolute;
    top: 740px;
    left: 254px;
    background: url("../img/home/pic_03.png?__spriter") 0 0 no-repeat;
}

/*选择图片*/
#select img.camera, #select .inp_fileToUpload, #select .weixinUpload {
    top: 308px;
    left: 77px;
}
#select .inp_fileToUpload, #select .weixinUpload {
    width: 597px;
    height: 617px;
    position: absolute;
    opacity: 0;
    display: none;
}
#select .inp_fileToUpload.active, #select .weixinUpload.active {
    display: block;
}
#select .handleResult {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#select .handleResult.active {
    display: block;
}

ol.btns {
    display: none;
    width: 100%;
    height: 83px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../img/select/pic_02.png") center no-repeat;
}
ol.btns.active {
    display: block;
}
ol.btns li {
    display: block;
    width: 375px;
    height: 100%;
    position: absolute;
    top: 0;
}
ol.btns li:nth-of-type(1) {
    left: 0;
}
ol.btns li:nth-last-of-type(1) {
    right: 0;
}


/*预览*/
.portraitbox {
    width: 683px;
    height: 813px;
    position: absolute;
    top: 239px;
    left: 42px;
}
.portraitbox img.face {
    top: 43px;
    left: 52px;
}
.portraitbox img.brows {
    top: 248px;
    left: 115px;
}
.portraitbox img.eyes {
    top: 285px;
    left: 73px;
}
.portraitbox img.nose {
    top: 340px;
    left: 300px;
}
.portraitbox img.mouth {
    top: 590px;
    left: 255px;
}
.portraitbox img.bang {
    top: 15px;
    left: 5px;
}

#preview .real, #preview .cartoon {
    width: 650px;
    height: 429px;
    position: absolute;
    bottom: 549px;
    left: 52px;
    z-index: 3;
    background: url("../img/preview/pic_01.png") center no-repeat;
}
#preview .picArea, #preview .cartoon .load, #preview .cartoon .content {
    width: 621px;
    height: 400px;
    position: absolute;
    top: 12px;
    left: 13px;
    overflow: hidden;
}
#preview .picArea img {
    top: 50%;
    margin-top: -499px;
}

#preview .cartoon {
    bottom: 108px;
}
#preview .cartoon .load, #preview .cartoon .content {
    display: none;
}
#preview .cartoon .load.active, #preview .cartoon .content.active {
    display: block;
}
#preview .cartoon .load {
    background: #fff;
}
#preview .cartoon .load .loadingText {
    top: 238px;
    left: 215px;
}
#preview .cartoon .content {
    background-color: #000;
}
#preview .cartoon .content .portraitbox {
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
    top: -250px;
    left: -10px;
}

#preview ol.btns {
    background-image: url("../img/preview/pic_03.png");
}


/*编辑*/
#edit {
    background-color: #000;
}
#edit .portraitbox {
    top: -160px;
}
#edit .panel {
    width: 100%;
    height: 610px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../img/edit/pic_06.png") center bottom no-repeat;
}
#edit .panel ol {
    display: block;
    height: 110px;
    background: url("../img/edit/pic_02.png") center no-repeat;
}
#edit .panel ol.tab1 {
    background-image: url("../img/edit/pic_02.png");
}
#edit .panel ol.tab2 {
    background-image: url("../img/edit/pic_02_2.png");
}
#edit .panel ol.tab3 {
    background-image: url("../img/edit/pic_02_3.png");
}
#edit .panel ol.tab4 {
    background-image: url("../img/edit/pic_02_4.png");
}
#edit .panel ol.tab5 {
    background-image: url("../img/edit/pic_02_5.png");
}
#edit .panel ol li {
    display: block;
    width: 139px;
    height: 100%;
    float: left;
    margin-right: 1px;
}
#edit .panel ol li:nth-of-type(2) {
    width: 148px;
}
#edit .panel ol li:nth-of-type(3), #edit .panel ol li:nth-of-type(4) {
    width: 152px;
}
#edit .panel ol li:nth-last-of-type(1) {
    width: 155px;
    margin-right: 0;
}
#edit .panel ul {
    height: 430px;
    background: url("../img/edit/pic_04.png") center no-repeat;
    position: relative;
    display: none;
}
#edit .panel ul.active {
    display: block;
}
#edit .panel ul li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#edit .panel ul li.active {
    display: block;
    -webkit-animation: showLi 0.5s;
    animation: showLi 0.5s;
}
@-webkit-keyframes showLi {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes hideLi {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#edit .panel ul li i {
    display: block;
    width: 225px;
    height: 215px;
    position: absolute;
}
#edit .panel ul li.active i.select {
    background: url("../img/edit/pic_05.png") center no-repeat;
}
#edit .panel ul li i:nth-of-type(1), #edit .panel ul li i:nth-of-type(2), #edit .panel ul li i:nth-of-type(3) {
    top: 5px;
}
#edit .panel ul li i:nth-of-type(4), #edit .panel ul li i:nth-of-type(5), #edit .panel ul li i:nth-of-type(6) {
    top: 227px;
}
#edit .panel ul li i:nth-of-type(1), #edit .panel ul li i:nth-of-type(4) {
    left: 43px;
}
#edit .panel ul li i:nth-of-type(2), #edit .panel ul li i:nth-of-type(5) {
    left: 270px;
}
#edit .panel ul li i:nth-of-type(3), #edit .panel ul li i:nth-of-type(6) {
    left: 498px;
}
#edit .panel ul.face li i img {
    -webkit-transform: scale(0.24);
    transform: scale(0.24);
    top: -250px;
    left: -155px;
}
#edit .panel ul.eyes li i img {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    top: 10px;
    left: -155px;
}
#edit .panel ul.nose li i img {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    left: 70px;
}
#edit .panel ul.mouth li i img {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    top: 50px;
    left: 25px;
}
#edit .panel ul.brows li i img {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    top: 50px;
    left: -115px;
}
#edit .panel .prev, #edit .panel .next {
    display: block;
    width: 75px;
    height: 125px;
    position: absolute;
    top: 160px;
}
#edit .panel .prev {
    left: 0;
}
#edit .panel .next {
    right: 0;
}
#edit .panel .prev i, #edit .panel .next i {
    display: block;
    width: 36px;
    height: 65px;
    position: absolute;
    top: 30px;
}
#edit .panel .prev i {
    left: 25px;
    background: url("../img/common/icon/icon_02.png?__spriter") 0 0 no-repeat;
}
#edit .panel .next i {
    right: 25px;
    background: url("../img/common/icon/icon_03.png?__spriter") 0 0 no-repeat;
}
#edit .panel .complete {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../img/edit/pic_01.png") center no-repeat;
}


/*选择发型*/
#hairstyle .screenshot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#hairstyle .type {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#hairstyle .type img {
    top: 0;
    left: 0;
    opacity: 0;
}
#hairstyle .type img.show {
    opacity: 1;
}

#hairstyle .portraitbox {
    -webkit-transform: scale(0.34);
    transform: scale(0.34);
    top: -70px;
    left: 22px;
}
#hairstyle .portraitbox.type3 {
    -webkit-transform: scale(0.35);
    transform: scale(0.35);
    left: 25px;
}
#hairstyle .portraitbox.type4, #hairstyle .portraitbox.type7, #hairstyle .portraitbox.type11 {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    left: 50px;
}
#hairstyle .portraitbox.type12 {
    left: 23px;
}
#hairstyle .portraitbox.type17 {
    left: 25px;
}
#hairstyle .portraitbox.type20 {
    left: 25px;
}
#hairstyle .portraitbox.type22 {
    -webkit-transform: scale(0.32);
    transform: scale(0.32);
    left: 47px;
    top: -80px;
}
#hairstyle .portraitbox.type23 {
    left: 32px;
}
#hairstyle .portraitbox.type24 {
    left: 25px;
}

/*#hairstyle .text {
    width: 100%;
    height: 546px;
    position: absolute;
    bottom: 0;
    left: 0;
}*/
#hairstyle .text img {
    bottom: 0;
    left: 0;
    opacity: 0;
}
#hairstyle .text img.show {
    opacity: 1;
}
#hairstyle .thisTypeWrap {
    width: 100%;
    height: 315px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../img/hairstyle/pic_07.png") center bottom no-repeat;
    display: none;
}
#hairstyle .thisTypeWrap.active {
    display: block;
}
#hairstyle .thisTypeWrap a {
    width: 100%;
    height: 83px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: url("../img/hairstyle/pic_01.png?__spriter") 0 0 no-repeat;
}
#hairstyle ol.btns {
    z-index: 5;
    background-image: url("../img/hairstyle/pic_02.png");
}
#hairstyle ol.btns li {
    width: 250px;
}
#hairstyle ol.btns li:nth-of-type(2) {
    left: 250px;
}

#hairstyle .layer_share {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0,0.8);
    display: none;
}
#hairstyle .layer_share.active {
    display: block;
}
#hairstyle .layer_share img {
    top: 15px;
    right: 40px;
}
#hairstyle .shareIcon {
    width: 750px;
    height: 750px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#hairstyle .shareIcon.active {
    display: block;
}
#hairstyle .canvasArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#hairstyle .canvasArea.active {
    display: block;
}
#hairstyle .layer_name {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    background: rgba(0,0,0,0.5);
    display: none;
}
#hairstyle .layer_name.active {
    display: block;
}
#hairstyle .layer_name .form {
    width: 606px;
    height: 453px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -309px 0 0 -303px;
    background: url("../img/hairstyle/pic_03.png") center no-repeat;
}
#hairstyle .layer_name .form i, #hairstyle .layer_name .form input, #hairstyle .layer_name .form span {
    display: block;
    position: absolute;
}
#hairstyle .layer_name .form i {
    width: 110px;
    height: 110px;
    top: 0;
    right: 0;
}
#hairstyle .layer_name .form input {
    width: 429px;
    height: 86px;
    padding: 0 10px;
    top: 195px;
    left: 79px;
    font-size: 36px;
    text-align: center;
    border: none;
    background: url("../img/hairstyle/pic_04.png") center no-repeat;
}
#hairstyle .layer_name .form span {
    display: block;
    width: 100%;
    height: 108px;
    bottom: 0;
    left: 0;
}
#hairstyle .sign_name {
    position: absolute;
    top: 790px;
    right: 20px;
    -webkit-transform: rotate(13deg);
    font-size: 48px;
    display: none;
}
#hairstyle .sign_name.active {
    display: block;
}


/*分享成功落地页*/
#sharecb {
    background: url("../img/sharecb/bg.jpg") center no-repeat;
    background-size: cover;
}
#sharecb .layer {
    width: 587px;
    height: 842px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: -350px 0 0 -293px;
    background: url("../img/sharecb/pic_02.jpg") center no-repeat;
}
#sharecb .layer a {
    display: block;
    width: 367px;
    height: 59px;
    position: absolute;
    bottom: 25px;
    left: 114px;
    background: url("../img/sharecb/pic_01.png") center no-repeat;
}


/*********高度<=1150的样式*************/
/*首页*/
/*#wrap.lt1150 #home img.flower {
    top: 332px;
}
#wrap.lt1150 #home img.beauty {
    top: 0;
}
#wrap.lt1150 #home img.name {
    top: 595px;
}
#wrap.lt1150 #home img.tit {
    top: 710px;
}*/

/*编辑*/
#wrap.lt1150 #edit .portraitbox {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    top: -180px;
}

/************************************************************************************
smaller than 480 PHONE
*************************************************************************************/
@media screen and (max-width: 480px){

    /*loading*/
    .loading p {
        font-size: 18px;
    }
    .loading article {
        height: 50px;
    }

}



